<h2>Sign Up</h2>

<form
  {{on "submit" this.signUp}}
  data-test-sign-up-form
>
  <p data-test-error-message>
    {{this.errorMessage}}
  </p>
  <div>
    <label>
      Email
      <Input
        type="email"
        name="email"
        @value={{this.email}}
        data-test-email-field
      />
    </label>
  </div>
  <div>
    <label>
      Password
      <Input
        type="password"
        name="password"
        @value={{this.password}}
        data-test-password-field
      />
    </label>
  </div>
  <div>
    <label>
      Confirm Password
      <Input
        type="passwordConfirmation"
        name="passwordConfirmation"
        @value={{this.passwordConfirmation}}
        data-test-password-confirmation-field
      />
    </label>
  </div>
  <button type="button" {{on "click" @onCancel}}>
    Cancel
  </button>
  <button type="submit">Sign Up</button>
</form>
